@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to hide scrollbars globally for a cleaner look */
@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}